/*** You will not need this file until Unit 3 ***/
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
    
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    /* background-color: var(--bg-color); see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif;
    
     /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
 
    background-image: url("img/cricket-equipment-digital-art.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
 
    
}

.subbody{
  padding: 25px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    
}

h2 {
  color: #222;
  text-shadow: 1px 1px 2px #aaa;
}

h3 {
  font-family: Rajdhani, sans-serif;    
}

h4 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     line-height: 2;
    
}

a, a * {
  text-decoration: none;
    
}


button {
    /* Example Style, replace with your own! */
    background-color: green;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

li{
  list-style: none;
}

button:hover {
    /* Make the button look different when the user hovers over it */
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header { /* Example A: This styles elements with class="header" */
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align:justify;
  position: relative ;
  z-index: 9999;
   /* background-color:#F0E7F2; */
}

#header-left {
  width: 50%;
  
}
#header-right{
  width: 50%;
}

#header-img{
  margin-left: 60px;
  margin-right: 50px;
  width: 100px; 
  max-width: 150px;
  
}

.header-button{
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #2e8b57;
  text-align:justify;
  padding:12px;
  border-radius: 10px;
  margin-top:10px;
  cursor:pointer;
  

}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#e63946;
  color:#192a42;
  text-align: center;
    
}

/*** Navbar [PLACEHOLDER] [ADDED IN UNIT 4] ***/

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.carousel-inner .carousel-item div{
    display: inline-block;
    text-align: left;
    color: white;
    background-image: url('img/slide1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:480px;
}

.carousel-item{
  border-radius: 5px;
}

.carousel-inner .carousel-item div h3{
  padding-top: 50px;
}
.carousel-inner .carousel-item div p{
  padding-bottom: 50px;
}

  
/* Mobile: phones (default working case) */
@media (max-width: 575.98px) {
  .carousel-inner .carousel-item img {
    height: 21em;
  }

   .carousel-inner .carousel-item div {
    font-size:smaller;
  }

}

/* Small devices: landscape phones */
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-inner .carousel-item img {
    height:30em;

  }
  .carousel-inner .carousel-item div {
    font-size:15px;
  }
}

/* Medium devices: tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-inner .carousel-item img {
    height: 33em;
  }
  .carousel-inner .carousel-item div {
    font-size:larger;
  }
}

/* Large devices: laptops */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-inner .carousel-item img {
    height: 30em;
  }
   .carousel-inner .carousel-item div {
    font-size:large;
  }
}

/* Extra large devices: desktops */
@media (min-width: 1200px) {
  .carousel-inner .carousel-item img {
    height: 30em;
  }
   .carousel-inner .carousel-item div {
    font-size:large;
  }
}

/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
.event-image{
  width: 80px;
  height: 70px;
  padding-left: 15px;
  object-fit: fill;
  border-radius: 5px;
  margin-left: 20px;
}
  

#match-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
   } 
.block1 {
    background-color: #222;
    color: white;
    width: 300px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.block1 button{
  width:100px
}

 


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
.block:link{
    color:black;
    }
.block:visited{
    color: blue;
    }
.block:hover{
    color: red;
    }
.block:active{
    color: green;
    }
         

/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #f4f4f9;
    --text-color: var(--text-color-dark-mode)


    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
/* ------------------------MATCHPAGE----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#matchbanner{
  position: relative;
  width: 100%;
  max-height:280px;
  overflow:hidden;
  margin-bottom: 40px;
}
#matchbanner img{
  width: 100%;
  height: auto;
  

}
#matchbanner h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* -----------------------------------LOCATION PAGE-------------------------------------------------------------------------------------------------------------------------------------------- */


.location {
  position: relative;
  flex: 1;
  
}

.location img {
  width: 100%;
  height: 250px;         
  object-fit: fill;     /* crop the image to fit */
}

.location h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 2em;
}
/* ---------------------------------------------------------------------- */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15em ;
}
  
.col {
   width: 20em;
}

#stadiumbot{
  padding-bottom: 30px;
 

}

.container{
  margin-bottom: 50px;
}
